@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply touch-manipulation;
  }

  body {
    @apply bg-void text-paper;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer utilities {
  .touch-manipulation {
    touch-action: manipulation;
  }
}

